@model ToDo

<h2>New Task</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Add" method="post">
	<div class="mb-3">
		<label asp-for="Name" class="form-label">Name</label>
		<input asp-for="Name" class="form-control" />
	</div>

	<div class="mb-3">
		<label asp-for="Description" class="form-label">Description</label>
		<input asp-for="Description" class="form-control" />
	</div>

	<div class="mb-3">
		<label asp-for="CategoryID" class="form-label">Category</label>
		<select asp-for="CategoryID" class="form-control" 
		asp-items="@(new SelectList(ViewBag.Categories,"CategoryID", "Name"))">
			<option value=""></option>
		</select>
	</div>

	<div class="mb-3">
		<label asp-for="DueDate" class="form-label">Due Date:</label>
		<input type="text" asp-for="DueDate" class="form-control" />
	</div>

	<div class="mb-3">
		<label asp-for="StatusID" class="form-label">Status</label>
		<select asp-for="StatusID" class="form-control"
		asp-items="@(new SelectList(ViewBag.Statuses,"StatusID", "Name"))">
		</select>
	</div>

	<button type="submit" class="btn btn-primary">Add</button>
	<a asp-action="Index" class="btn btn-primary">Cancel</a>
</form>
